Umfrageanalyse-Bericht
# {{.ColumnTitle}}

Datum: {{.AnalysisDate.Format "02.01.2006"}}
Anzahl Antworten: {{.ResponseCount}}

# Zusammenfassung
{{.GlobalSummary}}

# Themen

{{range .ThemeStats}}
1. {{.Count}} Antworten, {{printf "%.1f" .Percentage}}% -- {{.Theme}}
{{end}}

# Analyse
{{range $theme := .Themes}}
{{if index $.ThemeSummaries $theme}}
## {{$theme}}

{{(index $.ThemeSummaries $theme).Summary}}

{{if (index $.ThemeSummaries $theme).UniqueIdeas}}
### Ideen
{{range $idea := (index $.ThemeSummaries $theme).UniqueIdeas}}
- {{$idea}}
{{end}}
{{end}}
{{end}}
{{end}}
